<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="shortcut icon" href="{{ asset('bundles/frontend/img/trucky.png') }}">
    <link rel="stylesheet" href="{{ asset('/bundles/frontend/css/style.css') }}">
</head>
<body {% block bodyclass %}{% endblock %}>
{#<header>#}
{#{% block header %}{% endblock %}#}
{#{% block mob %}{% endblock %}#}
{#</header>#}
{#{% block content %}{% endblock %}#}
{#{% block javascripts %}{% endblock %}#}

<div id="root"></div>


<script src="{{ asset('/build/build.js') }}"></script>
</body>
</html>