{% extends '@Frontend/base.html.twig' %}

{#{% block content %}#}
    {#<div id="react-checkout-root"></div>#}
{#{% endblock %}#}

{#{% block javascripts %}#}
    {#{{ parent() }}#}
    {#<script src="{{ asset('/build/build.js') }}"></script>#}
{#{% endblock %}#}
